<div class="main">

  <div class="uploader">
    <h1>Uplaod Files</h1>
    <!-- file uplaod section -->
    <div class="uplaod-file">
      <img src="/images/upload-icon.svg" />
      <span class="info-text">Drag files here or
        <span class="browse">Browse</span></span>
      <input type="file" id="file-uplaod-input" multiple />
      <!-- <input type="file" id="file-uplaod-input" webkitdirectory multiple /> -->
    </div>

    <div class="file-status">
      <!-- <div class="file">
        <span>image_343.png</span>
        <div class="progress-bar">
          <div class="progress-fill"></div>
        </div>
        <div class="progress">
          <span>6.7MB of 10MB</span>
          <span>Uplaoding....78%</span>
        </div>
      </div> -->
    </div>
  </div>
</div>